{% extends 'register_base.html' %}

{% block title %}
вход
{% endblock %}

{% block main %}
<div class="container">
  <h2 class="text-center">Вход</h2>
  {% if error_message %}
  <p class="text-danger"><strong>{{ error_message }}</strong></p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="username">Имя пользователя:</label>
      <input type="text" class="form-control" name="username" id="username">
    </div>
    <div class="form-group">
      <label for="password">Пароль:</label>
      <input type="password" class="form-control" name="password" id="password">
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
  </form>
</div>
{% endblock %}